{
    "bitbucket-oauth": {},
    "github-oauth": {
        "github.com": "{{ github_token }}"},
    "gitlab-oauth": {},
    "http-basic": {
        "repo.magento.com": {
            "username": "{{ magento_public_key }}",
            "password": "{{ magento_private_key }}"
        }}
}
