#!/usr/bin/expect

spawn composer create-project --repository-url=https://repo.magento.com/ magento/project-community-edition magento2

expect "Username:"
send "{{ magento_account_name }}\n"

expect "Password:"
send "{{ magento_account_pass }}\n"

expect "\[Yn\]"
send "Y\n"

interact
